body {
	background-image: url("../images/background_hmp1.jpg");
	background-attachment: fixed;
	background-size: cover;
}
form{
	width:400px;
	margin:0 auto;
}
.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('./images/search.png') no-repeat 8px 6px; 
}
.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}
input[type=text]{
	color:#bcbcbc;
}
input[type=button], input[type=button]:hover {
	position:relative; 
	left:-6px;
	border:1px solid #adc5cf;
	background: #e4f1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
	color:#7da2aa;
	cursor: pointer;
}
.lighter {
	width:95%;
	height:50px;
	padding:40px 25px;
}
.lighter{
	background: url('./images/lighter_grey.jpg');
}
.lighter input[type=text]{
	border:1px solid #d0d0d0;
	background-color:#fcfcfc;
}


/*______________________________________________________________________________________________________________*/

body, header, nav, main, aside, footer, a, h1,  ul, li, section, img, span, .image, .text, .text-full, #container, #header-text, #mobile-nav {
    box-sizing: border-box;
    outline: none;
	
}
 article {
	box-sizing: border-box;
	outline: none;
 }

#container {
    width: 100%; 
    max-width: 1150px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
}


/*--- 1.Header ---*/

header {
    text-align: right;
    width: 100%;
    position: relative;   
}

/*-- 1.1.Header BG resolutions --*/
header #header-wrapper {
    overflow: auto;
    height: 100%;
}

#header-wrapper img {
    max-width: 100%;
    position: relative;
    float: left;
    left:0;
    top:0;
}

#header-text {
    position: absolute;
    color: #fff;
    font-size: 2em;
    font-weight: bold;  
    max-width: 900px;
    text-align: right;
    right: 2%;
    bottom: 15%;
}

/*-- 1.2.Header responsive designe --*/

#header-wrapper-mobile {
    display: none;
}

#header-wrapper-mobile img {
    width: 100%;
    position: relative;
    float: left;
    left:0;
    top:0;
}

#header-text-mobile {
    position: absolute;
    color: #fff;
    font-size: 1.7em;
    font-weight: bold;  
    right: 2%;
    margin-top: 20%;
}

/*-- 1.3. Navigation menu --*/

#menu-primary {
    width: 100%;
    display: block;
    float: right;
    height: 100%;
    background: #E5E5E5;
}
    
#menu-primary ul {
    margin: 0;
    list-style: none;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    padding: 0;
    text-align: left;
}

#menu-primary li {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding: .4em .9em;
    border-right: 2px solid #fff;
    float: left;
}

#menu-primary li:hover {
    background: #B7B7B7;
    color: #fff;
    cursor: pointer;
}

.mobile-nav-open, .mobile-nav-close {
    display: none;
}


/*--- 2.Main content ---*/

main {
    display: inline-block;
    float: left;
    width: 75%;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    padding-top: 2%;
	

}

section {
    border: 2px solid rgba(183, 183, 183, 0.31);
    margin: 0 2% 2%;
    padding: 0 3%;
    border-radius: 15px;
}

article {
    margin-bottom: 3%;
    height: 100%;
    overflow: auto;
}

h1 {
    color: #7ABB11;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.5em;
}

hr {
    display: none;
    height: 2px;
    background: #B7B7B7;
    border: none;
    opacity: 0.7;
}

#capitalized {
    text-transform: capitalize;
}

.image {
    width: 26%;
    height: auto;
    float: left;
}

.image img {
    width: 100%;
}

.bold {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0;  
}

.bold a {
    color: #000;
    text-decoration: none;   
}

.text {
    height: 100%;
    overflow: hidden;
    width: 74%;
    padding-left: 3%;
}


/*--- 3.Aside ---*/

aside {
    display: inline-block;
    float: left;
    width: 23%;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    padding-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}




/*--- 4.Footer ---*/

footer {
    display: block;
    float: left;
    width: 100%;
   background-color:#ffcccc;
}

footer li {
    display: inline-block;
    font-size: 1em;
    padding: .4em 0;
	background-color:#ffcccc;
}

footer a {
    color: #000;
	background-color:#ffcccc;
	
}


/*--- 5. Responsive design---*/

@media screen and (max-width: 700px) {
    body {
        font-size: 14px;
    }
    

    /*-- 5.2.Header background --*/

    #header-wrapper {
        display: none;
    }

    #header-wrapper-mobile {
        display: block;
        float: right;
    }

    #header-text-mobile {
        font-size: 1.7em;
    }

    /*-- 5.3.Main content --*/

    main {
        display: block;
        width: 100%;      
        margin: auto;
        padding: .5%;
		background-color:#ffcccc;
    }

    section {
        margin: 1% !important;
    }    

    .bold {
        margin: 1% 0;
    }

    .text {
        padding-left: 0;
    }

    .image, .text{
        width: 100%;
    }

    .image img {
        width: auto;
    }

    hr {
        display: block;
    }


@media screen and (max-width: 400px) {
    #header-text-mobile {
        font-size: 1.2em;
    }
}
